useDynLib(ICtest, .registration = TRUE)
import(stats)
import(graphics)
import(ICS)
import(JADE)
import(ggplot2)
importFrom(zoo, plot.zoo)
importFrom(xts, plot.xts)
importFrom(Rcpp, evalCpp)
importFrom(ICSNP, HR.Mest)
importFrom(survey,pchisqsum)
importFrom(GGally,ggpairs)
importFrom(png, readPNG)
export(NGPP, NGPPsim, NGPPest, covSIR, rorth, PCAasymp, components, SIRasymp, FOBIasymp, SIRboot, PCAboot, FOBIboot, ggscreeplot, rMU, rOMEGA, FOBIladle, PCAladle, SIRladle, ladleplot, ggladleplot, PCAschott, ladle)
S3method(screeplot,ictest)
S3method(plot,ictest)
S3method(components,ictest)
S3method(ggplot,ictest)
S3method(ggplot,ladle)
S3method(plot,ladle)
S3method(print,ladle)
S3method(summary,ladle)
S3method(components,ladle)