# specifying all other functions to be exported except ones starting with a .
exportPattern("^[^\\.]")
# exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(essHist)

importFrom("graphics", "lines", "plot", "rect", "abline", "axis", "mtext", "par", "segments", "hist", "rug")
importFrom("stats", "na.omit", "quantile", "runif", "rnorm", "pnorm", "dnorm", "var")
importFrom("grDevices", "rgb")
importFrom("utils", "tail")