importFrom("scales", "alpha")
importFrom("grDevices", "rainbow", "colorRampPalette")
importFrom("graphics", "abline", "barplot", "hist", "plot", "points", "axis", "legend")
importFrom("utils", "read.table")
importFrom(Rcpp,evalCpp)
importFrom("magrittr", "%>%")
importFrom("plotly", "plot_ly", "layout", "add_trace")
importFrom("rmarkdown", "pandoc_available")
importFrom("htmlwidgets", "saveWidget")
useDynLib(DEploid, .registration = TRUE)
export(dEploid)
export(extractVcf)
export(plotProportions)
export(extractCoverageFromVcf)
export(extractCoverageFromTxt)
export(haplotypePainter)
export(plotAltVsRef)
export(computeObsWSAF)
export(histWSAF)
export(extractPLAF)
export(plotWSAFvsPLAF)
export(plotObsExpWSAF)
export(plotAltVsRefPlotly)
export(plotHistWSAFPlotly)
export(plotWSAFVsPLAFPlotly)
export(plotObsExpWSAFPlotly)
