export(as.vli, asnumeric, vli, is.vli, divp2, sqrtrem, rootk, rootkrem, logrem, loge, log10rem, binom, summod, submod, mulmod, divmod, powmod, invmod, gcd, lcmul, count1bits, exteuclid, rvlidigits, rvliunif, rvlibin, rvlinegbin, rvliprime, Jacobi, phi, is.primeF, is.primeMR, is.primeSS, is.prime, pi, primes, primescount, divisor, factors, perfectpow, is.perfectpow, Legendre, Fibonacci, nthFibonacci, is.Fibonacci, factvli, nextprime)
S3method("!=", vli)
S3method("%%", vli)
S3method("*", vli)
S3method("+", vli)
S3method("-", vli)
S3method("/", vli)
S3method("<", vli)
S3method("<=", vli)
S3method("==", vli)
S3method(">", vli)
S3method(">=", vli)
S3method("^", vli)
S3method(Fibonacci, default)
S3method(Fibonacci, numeric)
S3method(Jacobi, default)
S3method(Jacobi, numeric)
S3method(Jacobi, vli)
S3method(Legendre, default)
S3method(Legendre, numeric)
S3method(Legendre, vli)
S3method(abs, vli)
S3method(as.character, vli)
S3method(as.integer, vli)
S3method(as.vli, character)
S3method(as.vli, default)
S3method(as.vli, numeric)
S3method(asnumeric, default)
S3method(asnumeric, vli)
S3method(binom, default)
S3method(binom, numeric)
S3method(binom, vli)
S3method(count1bits, default)
S3method(count1bits, numeric)
S3method(count1bits, vli)
S3method(divisor, default)
S3method(divisor, numeric)
S3method(divisor, vli)
S3method(divmod, default)
S3method(divmod, numeric)
S3method(divmod, vli)
S3method(divp2, default)
S3method(divp2, numeric)
S3method(divp2, vli)
S3method(exteuclid, default)
S3method(exteuclid, numeric)
S3method(exteuclid, vli)
S3method(factors, default)
S3method(factors, numeric)
S3method(factors, vli)
S3method(factvli, default)
S3method(factvli, numeric)
S3method(factvli, vli)
S3method(gcd, default)
S3method(gcd, numeric)
S3method(gcd, vli)
S3method(invmod, default)
S3method(invmod, numeric)
S3method(invmod, vli)
S3method(is.Fibonacci, default)
S3method(is.Fibonacci, numeric)
S3method(is.Fibonacci, vli)
S3method(is.perfectpow, numeric)
S3method(is.perfectpow, vli)
S3method(is.primeF, default)
S3method(is.primeF, numeric)
S3method(is.primeF, vli)
S3method(is.primeMR, default)
S3method(is.primeMR, numeric)
S3method(is.primeMR, vli)
S3method(is.primeSS, default)
S3method(is.primeSS, numeric)
S3method(is.primeSS, vli)
S3method(lcmul, default)
S3method(lcmul, numeric)
S3method(lcmul, vli)
S3method(log, vli)
S3method(log10, vli)
S3method(log10rem, default)
S3method(log10rem, numeric)
S3method(log10rem, vli)
S3method(loge, default)
S3method(loge, numeric)
S3method(loge, vli)
S3method(logrem, default)
S3method(logrem, numeric)
S3method(logrem, vli)
S3method(mulmod, default)
S3method(mulmod, numeric)
S3method(mulmod, vli)
S3method(nextprime, default)
S3method(nextprime, numeric)
S3method(nextprime, vli)
S3method(nthFibonacci, default)
S3method(nthFibonacci, numeric)
S3method(nthFibonacci, vli)
S3method(perfectpow, default)
S3method(perfectpow, numeric)
S3method(perfectpow, vli)
S3method(phi, default)
S3method(phi, numeric)
S3method(phi, vli)
S3method(pi, default)
S3method(pi, numeric)
S3method(pi, vli)
S3method(powmod, default)
S3method(powmod, numeric)
S3method(powmod, vli)
S3method(primes, default)
S3method(primes, numeric)
S3method(primes, vli)
S3method(primescount, default)
S3method(primescount, numeric)
S3method(primescount, vli )
S3method(print, vli)
S3method(rootk, default)
S3method(rootk, numeric)
S3method(rootk, vli)
S3method(rootkrem, default)
S3method(rootkrem, numeric)
S3method(rootkrem, vli)
S3method(rvlibin, default)
S3method(rvlibin, numeric)
S3method(rvlibin, vli)
S3method(rvlinegbin, default)
S3method(rvlinegbin, numeric)
S3method(rvlinegbin, vli)
S3method(rvliprime, default)
S3method(rvliprime, numeric)
S3method(rvliprime, vli)
S3method(rvliunif, default)
S3method(rvliunif, numeric)
S3method(rvliunif, vli)
S3method(sqrt, vli)
S3method(sqrtrem, default)
S3method(sqrtrem, numeric)
S3method(sqrtrem, vli)
S3method(submod, default)
S3method(submod, numeric)
S3method(submod, vli)
S3method(summod, default)
S3method(summod, numeric)
S3method(summod, vli)
importFrom(Rcpp, evalCpp)
importFrom("stats", "runif")
importFrom("utils", "setTxtProgressBar", "tail", "txtProgressBar")
useDynLib(VeryLargeIntegers, .registration = TRUE)

