useDynLib('borrowr')

importFrom("stats", "lm", "relevel", "rgamma", "rnorm", "runif",
  "model.matrix", "model.response", "terms", "coef",
  "drop.terms", "na.omit", "nlm", "predict", "qchisq", "sd", "quantile", "var", "sigma")
importFrom("utils", "capture.output")
importFrom(Rcpp, sourceCpp)
importFrom(mvtnorm, dmvt)
importFrom(BART, bartModelMatrix)

export(pate)
export(credint)

S3method(print, pate)
S3method(summary, pate)
S3method(print, summary.pate)


