useDynLib(GenomicMating, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(LowRankQP,LowRankQP)
importFrom(plotly,plot_ly,add_markers,layout)
importFrom(plotly,add_markers)
importFrom(plotly,layout)
importFrom("graphics", "legend", "par", "plot", "segments", "text")
importFrom(magrittr,"%>%")

import(stats)
import(parallel)
import(scatterplot3d)
import(emoa)
import(grDevices)
import(utils)
import(qtl)
import(SOMbrero)
import(kohonen) 
exportPattern("^[[:alpha:]]+")
