useDynLib(markophylo)

export(estimaterates)
export(estimaterates_f)
export(print.markophylo)
export(plottree)
export(patterns)

importFrom(Rcpp, evalCpp)
importFrom(stats,na.omit,qgamma,nlminb)
importFrom(ape,plot.phylo,is.binary.phylo,is.rooted,reorder.phylo,read.tree,multi2di)
importFrom(phangorn,Ancestors,Descendants)
importFrom(numDeriv,hessian)
importFrom(utils,read.table)

S3method(print, markophylo)