useDynLib(ClusterStability);
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp);
import(clusterCrit);
import(copula);
import(cluster);
import(WeightedCluster);
importFrom("stats", "dist", "kmeans")
