S3method(plot,MIPPP_fit)
S3method(plot,bdmcmc_res)
S3method(plot,damcmc_res)
S3method(plot,intensity_surface)
S3method(plot,normmix)
S3method(plot,sppmix)
S3method(print,bdmcmc_res)
S3method(print,damcmc_res)
S3method(print,intensity_surface)
S3method(print,normmix)
S3method(print,summary_normmix)
S3method(summary,MIPPP_fit)
S3method(summary,bdmcmc_res)
S3method(summary,damcmc_res)
S3method(summary,intensity_surface)
S3method(summary,normmix)
S3method(summary,sppmix)
export(CompareSurfs)
export(Count_pts)
export(Datasets)
export(Demo_sppmix)
export(FixLS_da)
export(GetBDCompfit)
export(GetBDTable)
export(GetBMA)
export(GetDensityValues)
export(GetIPPPLikValue)
export(GetKLEst)
export(GetMAPEst)
export(GetMAPLabels)
export(GetPMEst)
export(GetStats)
export(Get_Rdiag)
export(MaternCov)
export(PlotUSAStates)
export(Plots_off)
export(Save_AllOpenRglGraphs)
export(add_title)
export(approx_normmix)
export(check_labels)
export(dnormmix)
export(drop_realization)
export(est_MIPPP_cond_loc)
export(est_MIPPP_cond_mark)
export(est_intensity_np)
export(est_mix_bdmcmc)
export(est_mix_damcmc)
export(kstest2d)
export(kstest2dsurf)
export(mc_gof)
export(normmix)
export(openwin_sppmix)
export(plot2dPP)
export(plot_CompDist)
export(plot_MPP_fields)
export(plot_MPP_probs)
export(plot_autocorr)
export(plot_avgsurf)
export(plot_chains)
export(plot_convdiags)
export(plot_density)
export(plot_ind)
export(plot_runmean)
export(plot_true_labels)
export(plotmix_2d)
export(plotmix_3d)
export(plotstring)
export(rGRF)
export(rMIPPP_cond_loc)
export(rMIPPP_cond_mark)
export(rmixsurf)
export(rnormmix)
export(rsppmix)
export(selectMix)
export(to_int_surf)

importFrom("grDevices", "colorRampPalette", "dev.new", "graphics.off",
             "gray.colors")
  importFrom("graphics", "barplot", "mtext", "par", "plot", "points",
             "text")
  importFrom("stats", "aggregate", "dist", "fft", "lag", "rgamma",
             "rnorm", "rpois", "runif", "var")
  importFrom("utils", "browseVignettes", "demo")

import(ggplot2,rgl,spatstat,fields,mvtnorm)
importFrom(Rcpp,sourceCpp)
useDynLib(sppmix)
