useDynLib(HRM, .registration=TRUE)
export(hrm_test, hrm.GUI, hrm_GUI, hrm.test.matrix, hrm.test.dataframe)
import(matrixcalc)
import(MASS)
import(ggplot2)
importFrom("plyr", "dlply")
importFrom("stats", "pf", "qf", "var", "as.formula", "pnorm")
importFrom("reshape2", "melt")
importFrom("stats", "model.frame", "terms.formula", "qt", "cov")
importFrom("utils", "read.table", "write.table")
importFrom("xtable", "xtable")
importFrom("grDevices", "dev.new")
importFrom("tcltk", "tkchooseDirectory","tkgetOpenFile" , "tclvalue")
importFrom("data.table", "setDT", "rbindlist", "setnames", "as.data.table", ":=")
importFrom("pseudorank", "pseudorank")
importFrom("doBy", "summaryBy")
importFrom("mvtnorm", "qmvnorm")
importFrom("Rcpp", "evalCpp")
S3method(print, HRM)
S3method(summary, HRM)
S3method(confint, HRM)
S3method(plot, HRM)
S3method(hrm_test, list)
S3method(hrm_test, data.frame)
