useDynLib(robustreg, .registration=TRUE)
importFrom(stats, lm.fit, lm.influence, lm.wfit, median, model.extract, model.frame, model.matrix, pt)
importFrom(Matrix,Diagonal)
importFrom(Rcpp, evalCpp)
export(robustRegH)
export(robustRegBS)
export(fit_rcpp)
export(median_rcpp)
export(mad_rcpp)
export(psiHuber_rcpp)
export(psiBS_rcpp)
