
S3method("[",GlmBayesMfp)
S3method(as.data.frame,GlmBayesMfp)
S3method(predict,TBFcox)
S3method(predict,TBFcox.BMA)
S3method(predict,TBFcox.sep)
S3method(print,GlmBayesMfp)
export(CustomGPrior)
export(HypergPrior)
export(IncInvGammaGPrior)
export(InvGammaGPrior)
export(McmcOptions)
export(bfp)
export(computeModels)
export(convert2Mcmc)
export(coxTBF)
export(empiricalHpd)
export(evalZdensity)
export(fpTrans)
export(getMarginalZ)
export(glmBayesMfp)
export(inclusionProbs)
export(logMargLiks)
export(logPriors)
export(plotCurveEstimate)
export(posteriors)
export(sampleBma)
export(sampleGlm)
export(sampleSize)
export(scrHpd)
export(uc)
exportClasses(CustomGPrior)
exportClasses(HypergPrior)
exportClasses(IncInvGammaGPrior)
exportClasses(InvGammaGPrior)
exportMethods("[")
import(stats)
importFrom(Rcpp,evalCpp)
importFrom(Runuran,"unuran.packed<-")
importFrom(Runuran,pinv.new)
importFrom(Runuran,unuran.details)
importFrom(Runuran,ur)
importFrom(coda,mcmc)
importFrom(graphics,abline)
importFrom(graphics,curve)
importFrom(graphics,hist)
importFrom(graphics,matplot)
importFrom(graphics,par)
importFrom(graphics,plot)
importFrom(methods,callNextMethod)
importFrom(methods,initialize)
importFrom(methods,is)
importFrom(methods,new)
importFrom(methods,prototype)
importFrom(methods,representation)
importFrom(methods,setClass)
importFrom(methods,setGeneric)
importFrom(methods,setMethod)
importFrom(methods,setOldClass)
importFrom(methods,signature)
importFrom(survival,coxph)
importFrom(utils,head)
importFrom(utils,tail)

useDynLib(glmBfp, .registration=TRUE)
