export(FLSSS, FLSSSmultiset, GAP, mFLSSSpar,
       mFLSSSparImposeBounds, mFLSSSparImposeBoundsIntegerized,
       mFLSSSparIntegerized, mmKnapsack, mmKnapsackIntegerized,
       auxGAPbb, auxGAPbbDp, auxKnapsack01dp, auxKnapsack01bb,
       auxGAPga, decomposeMflsss, mFLSSSobjRun)
importFrom(Rcpp, evalCpp)
importFrom(RcppParallel, RcppParallelLibs)
importFrom("stats", "aggregate", "cor", "runif")
useDynLib(FLSSS, .registration = TRUE)
