useDynLib(DPWeibull,.registration=TRUE)

importFrom(Rcpp,evalCpp)
importFrom(graphics,legend)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(stats,contrasts)
importFrom(stats,median)
importFrom(stats,model.matrix)
importFrom(stats,model.response)
importFrom(stats,quantile)
importFrom(stats,rbeta)
importFrom(stats,rgamma)
importFrom(stats,sd)
importFrom(stats,qchisq)
importFrom(truncdist,rtrunc)
importFrom(binaryLogic,is.binary)
importFrom(prodlim,Hist)
importFrom(survival,Surv)
importFrom("stats", ".getXlevels", "delete.response", "model.frame")
export(dpweib)
export(continue)
S3method(continue,ddp)
S3method(continue,ddpcomp)
S3method(continue,dpm)
S3method(continue,dpmcomp)

S3method(plot,ddp)
S3method(plot,ddpcomp)
S3method(plot,dpm)
S3method(plot,dpmcomp)
S3method(plot,predddp)
S3method(plot,predddpcomp)

S3method(predict,ddp)
S3method(predict,ddpcomp)

S3method(summary,ddp)
S3method(summary,ddpcomp)
S3method(summary,dpm)
S3method(summary,dpmcomp)
S3method(summary,predddp)
S3method(summary,predddpcomp)
