useDynLib(repolr)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method("print", "repolr")
S3method("summary", "repolr")
S3method("print", "summary.repolr")
S3method("coef", "repolr")
S3method("fitted", "repolr")
S3method("vcov", "repolr")
S3method("residuals", "repolr")
S3method("model.matrix", "repolr")
S3method("terms", "repolr")
S3method("predict", "repolr")
S3method("confint", "repolr")
importFrom("methods", "as")
importFrom("stats", "as.formula")
importFrom("stats", "binomial")
importFrom("stats", "complete.cases")
importFrom("stats", "glm")
importFrom("stats", "model.matrix")
importFrom("stats", "pchisq")
importFrom("stats", "pnorm")
importFrom("stats", "qnorm")
importFrom("stats", "terms")
importFrom("stats", "terms.formula")
importFrom("stats", "update")
importFrom("stats", "confint")
importFrom("stats", "model.matrix.default")
importFrom("stats", "coef")
