useDynLib(densEstBayes,.registration = TRUE)
import(Rcpp)
importFrom(graphics,abline)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(graphics,polygon)
importFrom(graphics,par)
importFrom(graphics,text)
importFrom(graphics,points)
importFrom(rstan,extract)
importFrom(rstan,sampling)
importFrom(splines,spline.des)
importFrom(stats,dnorm)
importFrom(stats,pnorm)
importFrom(stats,poisson)
importFrom(stats,qnorm)
importFrom(stats,quantile)
importFrom(stats,rnorm)
importFrom(stats,runif)
importFrom(stats,rgamma)
importFrom(stats,acf)
importFrom(stats,approx)
importFrom(utils,vignette)
S3method(plot,densEstBayes)
S3method(predict,densEstBayes)
export(densEstBayes)
export(densEstBayes.control)
export(checkChains)
export(dMarronWand)
export(rMarronWand)
export(densEstBayesVignette)



